@font-face {
  font-family: Summer;
  src: url(/assets/Rockit.ttf);
}
html {
  background-color: cornsilk;
}
html body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
html body aside {
  position: fixed;
  z-index: 10;
  width: 5%;
  background-color: lightseagreen;
  opacity: 80%;
}
html body aside nav {
  display: flex;
  height: 100vh;
  width: auto;
  flex-direction: column;
  z-index: 10;
}
html body aside nav #home, html body aside nav #event, html body aside nav #gallery {
  width: 4vw;
  height: 4vw;
  margin: 13vh 1vh;
  cursor: pointer;
}
html body aside nav #home:nth-child(2), html body aside nav #event:nth-child(2), html body aside nav #gallery:nth-child(2) {
  margin: 8vh 8px;
}
html body .homeMain {
  flex: 1;
  display: flex;
  position: relative;
  border: none;
  flex-direction: column;
}
html body .homeMain video {
  width: 100vw;
  height: 100vh;
  border: none;
  -o-object-fit: cover;
     object-fit: cover;
  outline: none;
  position: fixed;
}
html body .homeMain .summer {
  position: relative;
  font-size: 25vh;
  font-family: Summer;
  color: black;
  margin: 0;
  padding-top: 20vh;
  left: 5.5%;
  height: 60vh;
}
html body .homeMain .about {
  width: 52vw;
  z-index: 99;
  position: relative;
  left: 5.5%;
  font-size: 1vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
html body .ball {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  margin-top: 4vh;
}
html body .ball .contact {
  display: flex;
  height: 40vh;
  width: 40vh;
  border-radius: 50%;
  background-image: url(/assets/ball.png);
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 10;
  justify-content: center;
  animation: none;
  box-shadow: 6px 12px 2rem;
}
html body .ball .contact .list {
  width: auto;
  justify-content: center;
  align-content: space-between;
}
html body .ball .contact .list p {
  text-align: center;
  margin: 1rem;
  padding: 1rem 10px;
  border-radius: 50%;
  font-size: 2vw;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 100;
}
html body .ball .contact .list p:nth-child(1) {
  width: 10vw;
  margin: 6px auto 2rem auto;
  font-size: 2.5vw;
  border-bottom: black solid 1px;
}
html body .ball .contact .list p:nth-child(2) {
  margin-bottom: 8px;
}
html body .ball .contact .list p:nth-child(3) {
  margin-top: 0;
  padding: 1rem;
}
html body .eventMain {
  width: 90vw;
  height: 90vh;
  border: 2px solid black;
  margin: 4vh auto auto 7vw;
}
html body .eventMain p {
  text-align: center;
  font-size: 3em;
  margin: 2vh auto;
}
html body .eventMain .eventsAll {
  display: flex;
  position: relative;
  width: 85vw;
  height: 85vh;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
}
html body .eventMain .eventsAll .event {
  width: 28vw;
  height: 70vh;
  border: 2px solid black;
}
html body .eventMain .eventsAll #goodwood, html body .eventMain .eventsAll #lollapalooza, html body .eventMain .eventsAll #olympics {
  flex-direction: column;
  text-align: center;
}
html body .eventMain .eventsAll #goodwood p:nth-child(1), html body .eventMain .eventsAll #lollapalooza p:nth-child(1), html body .eventMain .eventsAll #olympics p:nth-child(1) {
  font-size: 2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html body .eventMain .eventsAll #goodwood p:nth-child(2), html body .eventMain .eventsAll #lollapalooza p:nth-child(2), html body .eventMain .eventsAll #olympics p:nth-child(2) {
  font-size: 1.2vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1vh 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
html body .eventMain .eventsAll #goodwood p:nth-child(3), html body .eventMain .eventsAll #lollapalooza p:nth-child(3), html body .eventMain .eventsAll #olympics p:nth-child(3) {
  font-size: 1.5vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 20vw;
}
html body .eventMain .eventsAll #goodwood a img, html body .eventMain .eventsAll #lollapalooza a img, html body .eventMain .eventsAll #olympics a img {
  width: 28vw;
}
html body .eventMain .eventsAll #goodwood #lollaImg, html body .eventMain .eventsAll #lollapalooza #lollaImg, html body .eventMain .eventsAll #olympics #lollaImg {
  margin-top: 9.2vw;
}
html body .eventMain .eventsAll #goodwood #olympicsImg, html body .eventMain .eventsAll #lollapalooza #olympicsImg, html body .eventMain .eventsAll #olympics #olympicsImg {
  margin-top: 6.6vw;
}
html body .eventMain .eventsAll #goodwood #goodwoodImg, html body .eventMain .eventsAll #lollapalooza #goodwoodImg, html body .eventMain .eventsAll #olympics #goodwoodImg {
  margin-top: 2.4vw;
}
html body .gallery {
  width: 90vw;
  height: 90vh;
  border: 2px solid black;
  margin: 4vh auto auto 7vw;
}
html body .gallery .grids {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 4px;
  border: 1px solid black;
  width: 22vw;
}
html body footer {
  position: fixed;
  bottom: 2vh;
  left: 6vw;
  width: 100vw;
  height: 5vh;
  z-index: 10;
  font-size: 1.2vw;
}

@keyframes roll {
  from {
    transform: translateX(0) rotate(0deg);
  }
  to {
    transform: translateX(30vw) rotate(360deg);
  }
}/*# sourceMappingURL=styles.css.map */