@font-face {
    font-family: Summer;
    src: url(/assets/Rockit.ttf);
}

html {
    background-color: cornsilk;

    body {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;

        aside {
            position: fixed;
            z-index: 10;
            width: 5%;
            background-color: lightseagreen;
            opacity: 80%;

            nav {
                display: flex;
                height: 100vh;
                width: auto;
                flex-direction: column;
                z-index: 10;

                #home, #event, #gallery {
                    width: 4vw;
                    height: 4vw;
                    margin: 13vh 8px;
                    cursor: pointer;

                    &:nth-child(2) {
                        margin: 8vh 8px;
                    }
                }
            }
        }

        main {
            flex: 1;
            display: flex;
            position: relative;
            border: none;
            video {
                width: 100vw;
                height: 100vh;
                border: none;
                object-fit: cover;
                outline: none;
                position: fixed;
            }
            p {
                position: absolute;
                font-size: 25vh;
                font-family: Summer;
                color: black;
                margin: 0;
                padding-top: 29vh;
                left: 5.5%;
            }
        }

        footer {
            width: 100%;
            display: flex;
            justify-content: center;
            .contact {
                display: flex;
                height: 40vh;
                width: 40vh;
                opacity: 85%;
                border-radius: 50%;
                background-image: url(/assets/ball.png);
                background-size: cover;
                background-position: center;
                position: relative;
                top: 90vh;
                z-index: 10;
                justify-content: center;
                animation: none;
                .list{
                    width: auto;
                    justify-content: center;
                    align-content: space-between;
                    p{
                        text-align: center;
                        margin: 1rem;
                        padding: 1rem 10px;
                        border-radius: 50%;
                        font-size: 1.8em;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        font-weight: 100;
                        &:nth-child(1){
                            width: 10vw;
                            margin: 6px auto 2rem auto;
                            font-size: 2em;
                            border-bottom: black solid 1px;
                        }
                        &:nth-child(2){
                            margin-bottom: 8px;
                        }
                        &:nth-child(3){
                            margin-top: 0;
                            padding: 1rem;
                        }
                    }
                }
            }
            .about{

            }
        }
    }
}

@keyframes roll {
    0% {
        transform: translateX(0) rotate(0deg);
    }
    100% {
        transform: translateX(36vw) rotate(360deg);
    }
}
